#myTable input {
	margin-left: 5px;
  }
  
  #myTable {
	border: 2px solid green;
	border-collapse: collapse;
	margin: 30px 30px 20px 40px;
  }
  
  #myTable td,
  th {
	border: 1px solid green;
	padding: 5px;
  }
  
  #myTable th {
	color: #fff;
	background-color: #a7c942;
  }
  
  #button {
	background-color: orange;
	border-radius: 3px;
	border: 2px solid gray;
	margin-left: 180px;
  }
  
  #button:disabled {
	background-color: lightgray;
	border: 0px;
  }
  
  .modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
  }
  
  .edit-input {
	width: 100%;
	margin-bottom: 10px;
  }