

form {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30%;
    margin-right: 30%;
    ;
}

#message {
    width: 100%;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input {
    display: block;
    margin-bottom: 10px;
}

input[type=button] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=button]:hover {
    background-color: grey;
}